.main-register{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 323px;
  height: 40rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid var(--av-color-highlight);
  justify-content: center;
  position: relative;
  bottom: 3rem;


}

.title1 {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: black;
}

.sub {
  text-align: center;
  color: black;
  width: 100%;
  font-size: 1rem;
}

.sub.mb {
  margin-top: 30px;
  color: black;
}

.sub a {
  color: var(--av-color-highlight);
  color: black;
}

.form button {
  align-self: flex-end;
}

.input,
.button {
  border: none;
  outline: none;
  height: 2.5rem;
  width: 100%;
  padding: 16px 10px;
  background-color: rgb(226, 223, 223);
  border-radius: 10px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
    100px 100px 80px rgba(0, 0, 0, 0.03);
}

.button {

  background-color: var(--av-color-highlight);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input:focus {
  border: 1px solid var(--av-color-highlight);
}

#file {
  display: none;
}
.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
}
.show-password i {
  font-size: 1.2em;
  color: black;
}

/* Estilo del campo de contraseña */
#password {
  padding-right: 30px;
}
#password.visible {
  padding-right: 60px;
  color: black;
}
.main-register {
  display: flex;
  justify-content: center;
  color: black;
}

.h2Register {
  display: flex;
  justify-content: center;
  color: black;
}
.ParrafoAvatar {

  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.username {
  margin-top: 1rem;
}

.passwordRequisitos {
  font-size: 14px;
  color: var(--av-color-highlight);
  gap: 0.7rem;
  margin-top: 5px;
  flex-wrap: wrap;
}
.imgAvatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}
.iconoImgAvatar img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.register-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.regiser-button-mostrar{
  z-index: 10;
  position: relative;
  bottom: 2.9rem;
  float:right;
  height: 2.3rem;
  border: none;
  background-color: rgb(226, 223, 223);
  margin-right: 0.3rem;
}
.regiser-repitPass-mostrar{
  border: 2px solid black;
  z-index: 10;
  position: relative;
  bottom: 2.4rem;
  height: 3rem;
  border: none;
  float:right;
  margin-right: 0.3rem;
  background-color: rgb(226, 223, 223);
}
.ojoPassword{
  width: 1.5rem;
  height: 1.5rem;

}