.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 323px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  border: 1px solid #004badec;
}

.title1 {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 4px;
}

.sub {
  text-align: center;
  color: black;
  font-size: 14px;
  width: 100%;
}

.sub.mb {
  margin-bottom: 1px;
}

.sub a {
  color: rgb(23, 111, 211);
}

.avatar {
  margin-top: 0.5rem;
  height: 50px;
  width: 50px;
  background-color: #004badec;
  border-radius: 50%;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
    100px 100px 80px rgba(0, 0, 0, 0.03);
}

.form button {
  align-self: flex-end;
}

.input,
.button {
  border: none;
  outline: none;
  width: 100%;
  padding: 16px 10px;
  background-color: rgb(226, 223, 223);
  border-radius: 10px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
    100px 100px 80px rgba(0, 0, 0, 0.03);
}

.button {
  margin-top: 12px;
  background-color: #004badec;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.input:focus {
  border: 1px solid #004badec;
}

#file {
  display: none;
}
.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.show-password i {
  font-size: 1.2em;
}

/* Estilo del campo de contraseña */
#password {
  padding-right: 30px;
}
#password.visible {
  padding-right: 60px;
}
.main-register {
  display: flex;
  justify-content: center;
}

.h2Register {
  display: flex;
  justify-content: center;
}
.ParrafoAvatar{
  margin-top: 0.8rem;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.1rem;
}
.username{
  margin-top: 3rem;
}
.passwordRequisitos{
  font-size: 14px;
  color: red ;
  display: flex;
  justify-content: flex-start;
  gap: 0.7rem;
  margin-top: 5px;
  flex-wrap: wrap;
}