.divDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  height: 800px;
  gap: 1rem;
  width: 100%;
}

.mainDialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogCreate {
  width: 53%;
  z-index: 1;
  margin-left: 440px;
  border-radius: 12px;
  background-color: aqua;
}

form > input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 3vh;
  border-radius: 5px;
  padding: 12px;
}
form > select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
form > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
