.ocio-home {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  
}

.ocio-container-home {
  width: 98vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
  
}

.ocio-container-home > h2 {
  padding-left: 5.8rem;
}