.flex {
  display: flex;
}

.container {
  height: 250px;
  padding: 1rem;

  width: 100vw;
  display: flex;

  overflow: scroll;
  gap: 1rem;
}

.item {
  line-height: 40px;
  max-width: 200px;
  height: 220px;
  width: 300px;
  background-color: #141414;
  margin: 0 0.1rem;
  color: black;
  flex: 0 0 19.7%;
  text-align: center;
  transition: transform 300ms ease 100ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
}

.item > .nm {
  text-align: end;
  color: #fcd53f;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nm > span {
  font-size: 15px;
}

.item > .na {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.448);
}

.item:hover {
  transform: translateX(25%);
  transform: scale(1.1) !important;
  transform: translateX(-25%);
}
